/*  
    halkaBox.js , url: https://github.com/ahmednooor/halkaBox.js
    Version: 1.1.0
    Author: Ahmed Noor , url: https://github.com/ahmednooor
    License: MIT , url: https://opensource.org/licenses/MIT
*/

.hb-noscroll {
    overflow: hidden;
}

.hb-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9990;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.hb-wrapper:before,
.hb-wrapper:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hb-wrapper *,
.hb-wrapper *:before,
.hb-wrapper *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

.hb-wrapper .hb-main-container {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9991;
}

.hb-wrapper .hb-main-container button {
    background-color: transparent;
    border: none;
    outline: 0;
    box-shadow: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 0;
    opacity: 0.7;
    z-index: 9995;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}


.hb-wrapper .hb-main-container button:focus {
    background-color: transparent;
    border: none;
    outline: 0;
    box-shadow: 0;
}

.hb-wrapper .hb-main-container button:hover {
    cursor: pointer;
    opacity: 1;
}

.hb-wrapper .hb-main-container button svg {
    max-width: 100%;
    max-height: 100%;
    fill: #000;
}

.hb-wrapper .hb-image-container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 9993;
}

.hb-wrapper .hb-image-container div.hb-image-div {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 1;
    padding: 0;
    padding: 30px;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    z-index: 9994;
}

.hb-wrapper .hb-image-container div.hb-image-div div.hb-loader {
    display: block;
    width: 35px;
    height: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 1000px;
    border-top: 5px solid #444;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: spinner 600ms linear infinite;
    animation: spinner 600ms linear infinite;
    z-index: 9998;
}

.hb-wrapper .hb-image-container div.hb-image-div img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hb-wrapper .hb-image-container div.hb-image-div p {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hb-wrapper .hb-image-container div.hb-image-div p.hb-caption {
    padding: 4px 12px 6px 12px;
    position: absolute;
    bottom: 0;
    left: -2px;
    right: -2px;
    margin: 0 auto;
    max-height: 100%;
    overflow: auto;
    top: auto;
    -webkit-transform: none;
            transform: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
    z-index: 9995;
}

.hb-wrapper .hb-image-container div p.hb-caption span.hb-caption-text {
    display: block;
    margin: 0 auto;
}

.hb-wrapper .hb-image-container div p.hb-caption-white {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.hb-wrapper .hb-image-container div p.hb-caption-black {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.hb-wrapper .hb-image-container div p.hb-err-text-white {
    color: white;
}

.hb-wrapper .hb-image-container div p.hb-err-text-black {
    color: black;
}

.hb-wrapper .hb-close-icon-container {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 9995;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.hb-wrapper .hb-left-icon-container {
    width: 45px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 85px;
    opacity: 1;
    z-index: 9995;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.hb-wrapper .hb-right-icon-container {
    width: 45px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 40px;
    opacity: 1;
    z-index: 9995;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.hb-wrapper .hb-close {
    padding: 8px;
    padding-left: 18px;
}

.hb-wrapper .hb-left,
.hb-wrapper .hb-right {
    padding: 8px;
}

.hb-wrapper .hb-main-container p.hb-counter {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    padding: 8px;
    height: 30px;
    z-index: 9995;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

@media only screen and (max-width: 960px) {
    .hb-wrapper .hb-image-container div.hb-image-div {
        padding: 0;
    }
    .hb-wrapper .hb-image-container div.hb-image-div img {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        margin: 0 auto;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .hb-wrapper .hb-close-icon-container {
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .hb-wrapper .hb-left-icon-container,
    .hb-wrapper .hb-right-icon-container {
        width: 40px;
        height: 40px;
        top: 0;
        left: auto;
        bottom: auto;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .hb-wrapper .hb-left-icon-container {
        right: 80px;
    }
    .hb-wrapper .hb-right-icon-container {
        right: 40px;
    }
    .hb-wrapper .hb-close {
        padding: 10px;
    }
    .hb-wrapper .hb-left {
        padding: 10px;
    }
    .hb-wrapper .hb-right {
        padding: 10px;
    }
    .hb-wrapper .hb-main-container p.hb-counter {
        height: 40px;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.7);
    }
}


/* 
    --- Animations ---
*/

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hb-slidenextin {
    -webkit-animation: slideNextIn 0.3s ease-in-out forwards;
    animation: slideNextIn 0.3s ease-in-out forwards;
}

@-webkit-keyframes slideNextIn {
    0% {
        left: 150%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

@keyframes slideNextIn {
    0% {
        left: 150%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

.hb-slidenextout {
    -webkit-animation: slideNextOut 0.3s ease-in-out forwards;
    animation: slideNextOut 0.3s ease-in-out forwards;
}

@-webkit-keyframes slideNextOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: -50%;
        opacity: 1;
    }
}

@keyframes slideNextOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: -50%;
        opacity: 1;
    }
}

.hb-slidepreviousin {
    -webkit-animation: slidePreviousIn 0.3s ease-in-out forwards;
    animation: slidePreviousIn 0.3s ease-in-out forwards;
}

@-webkit-keyframes slidePreviousIn {
    0% {
        left: -50%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

@keyframes slidePreviousIn {
    0% {
        left: -50%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

.hb-slidepreviousout {
    -webkit-animation: slidePreviousOut 0.3s ease-in-out forwards;
    animation: slidePreviousOut 0.3s ease-in-out forwards;
}

@-webkit-keyframes slidePreviousOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 150%;
        opacity: 1;
    }
}

@keyframes slidePreviousOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 150%;
        opacity: 1;
    }
}
